.wrapper {
  min-width: 900px;
  margin: 0 auto;
  background: #561ba7 url("https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/activity/forshoulei/bg.jpg") no-repeat center top;
}

.part-01{
	width: 100%;
	height: 386px;
  position: relative;
}
.part-01 .logo-wrp{
	width: 900px;
	margin: 0 auto;
	padding-top: 15px;
}
.part-01 .logo-wrp .logo{
  display: block;
  width: 284px;
  height: 57px;
  background: url(https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/m/common/page-logo-xunleiyidai.png) no-repeat center center;
}
.part-01 .small-title{
  position: absolute;
  color: #fde4ae;
  font-size: 34px;
  top: 88px;
  font-weight: 300;
  padding-left: 49%;
}
.part-01 .get-huiyuan{
	display: block;
	width: 280px;
	height: 60px;
	line-height: 60px;
	background: url("https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/activity/forshoulei/btn-bg.png") no-repeat center center;
	color: #fff;
	font-size: 34px;
	text-align: center;
	margin: 232px auto 0;
}

.part-02{
  width: 100%;
  background: url("https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/activity/forshoulei/bg-panel.png") no-repeat center top;
  margin: 0 auto;
  padding-top: 168px;
}
.temp-bg-panel{
  width: 900px;
  margin: 0 auto;
  padding-left: 3px;
}
.temp-bg-inner-panel{
  width: 900px;
  background-color: #ff5b43;
  padding-bottom: 50px;
  padding-top: 34px;
}
.temp-bg-yellow-panel{
  width: 750px;
  background-color: #fde58d;
  margin: 0 auto;
  border-radius: 8px;
  padding: 34px 0 60px;
}
.inner-panel{
  width: 690px;
  background-color: #eff3f6;
  border-radius: 8px;
  position: relative;
  padding-top: 104px;
  margin: 0 auto;
}
.inner-panel .title{
  width: 270px;
  height: 66px;
  line-height: 66px;
  display: block;
  background-color: #ff5b43;
  color: #fff;
  font-size: 30px;
  border-radius: 0 33px 33px 0;
  position: absolute;
  top: 14px;
  left: -3px;
  padding-left: 62px;
}

.cooperator-ul{
  text-align: center;
  font-size: 0;
}
.cooperator-li{
  display: inline-block;
  width: 300px;
  height: 276px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 35px;
  font-size: 20px;
  color: #666666;
  position: relative;
}
.cooperator-li .remark{
  display: inline-block;
  height: 30px;
  max-width: 150px;
  line-height: 30px;
  color: #fde58d;
  font-size: 18px;
  background-color: #ff5b43;
  position: absolute;
  top: 13px;
  right: 0;
  padding: 0 15px 0 18px;
  border: none;
  border-radius: 15px 0 0 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cooperator-li a{
  display: block;
  width: 300px;
  height: 276px;
  color: #666666;
  padding-top: 44px;
}
.cooperator-li-right{
  margin-left: 39px;
}
.co-icon{
  display: block;
  width: 240px;
  height: 120px;
  margin: 0 auto;
}
.co-desc-top{
  display: block;
  margin-top: 8px;
}
.co-desc-bottom{
  display: block;
  margin-top: 8px;
}

.part-03{
  width: 100%;
  margin-top: 52px;
  background: #6a2cbf url("https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/activity/common/QRcode-bg.png") repeat-x top left;
  color: #fff;
  font-size: 14px;
}
.part-03 .inner-wrp{
  width: 1000px;
  margin: 0 auto;
  padding: 57px 0 40px 88px;
}
.part-03 .inner-wrp .QRcode, .part-03 .inner-wrp .art-right{
  float: left;
}
.part-03 .inner-wrp .QRcode{
  width: 110px;
}
.part-03 .inner-wrp .art-right{
  border-right: 1px solid #9963d2;
  padding: 24px 28px 24px 0;
  margin-left: 10px;
}
.part-03 .inner-wrp .art-right .art-bottom{
  margin-top: 20px;
}
.left-QRcode-wrp{
  float: left;
}
.right-remark-wrp{
  float: left;
}
.right-remark-wrp{
  padding: 24px 0;
  margin-left: 24px;
}
.right-remark-wrp .art-bottom{
  margin-top: 20px;
}

.pop-wrp{
  width: 480px;
  display: none;
  margin: 0 auto;
}
.pop-wrp .pop-wrp-bg{
  width: 480px;
  height: 386px;
  background: url("https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/activity/forshoulei/pop-bg.png") no-repeat center center;
  position: relative;
  padding-top: 340px;
}
.pop-wrp .QRcode-canvas{
  position: absolute;
  top: 133px;
  left: 149px;
  border: 2px solid #fde58d;
  font-size: 0;
}
.pop-wrp .remark{
  width: 480px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  color: #fde58d;
}
.pop-wrp .close-btn{
  width: 210px;
  height: 60px;
  display: block;
  border: 2px solid #fff;
  border-radius: 30px;
  line-height: 60px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 37px auto 0;
}
body .layui-layer{
  box-shadow: none;
}


.act-scale {
  -webkit-animation: actScale 2s infinite;
  -moz-animation: actScale 2s infinite;
  animation: actScale 2s infinite; }

@-webkit-keyframes actScale {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-moz-keyframes actScale {
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -moz-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07); }
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes actScale {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.07, 1.07);
    -moz-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }
